body {
  font-family: Roboto;
}

.btn, .btn:active,
.navbar-default .navbar-nav>.active>a {
  font-family: Roboto;
  font-weight: 300;
  color: #{{ site.color.secondary-dark }};
  border-radius: 0;
  border: 1px solid #{{ site.color.primary }};
  background: transparent;
}

.btn-xl {
  text-transform: none;
  transition: all 0.5s ease-in-out;
}

.btn-xl:hover {
  /*background: url(../img/space-bkg.png);*/
}

.navbar-default .nav li a {
  color: #{{ site.color.secondary-dark }};
  font-family: Roboto;
  font-weight: 100;
  border: 1px solid transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #{{ site.color.secondary-dark }};
  font-weight: 100;
  background: transparent;
}

.navbar-default .nav li a:focus {
  color: #{{ site.color.secondary-dark }};
}

.navbar-default .nav li a:hover {
  color: #{{ site.color.primary }};
}
.navbar-default {
  border-color: #fff;
  padding: 10px;
  background: #fff;
}

h4 {
  font-family: Roboto;
}

/* HEADER */

header {
  background: #fff;
}

header .intro-text .intro-heading,
header .intro-text .intro-lead-in {
  font-family: Roboto;
  font-weight: 300;
  color: #{{ site.color.secondary-dark }};
  text-transform: none;
}

header .intro-text .intro-heading, {
  margin-bottom: 0;
  line-height: 1em;
  font-size: 7em;
}

header .intro-text .intro-lead-in {
  font-size: 1.4em;
  font-style: normal;
}

.navbar-default.navbar-shrink {
  background: #fff;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  background: #fff;
}

header .intro-text {
  padding: 150px 0 10px 0;
}

/* FORMS */
.form-control {
  border-radius: 0;
}

section#contact, ul.social-buttons li a {
  background: #{{ site.color.secondary-dark }};
}

section#contact .btn {
  color: #fff;
}

section h2.section-heading {
  font-family: Roboto;
  font-weight: 300;
  text-transform: none;
}

.post-grid {
  padding-top: 100px;
}

#portfolio.post-grid .portfolio-item .portfolio-caption {
  background: #f7f7f7;
}

footer span.copyright {
  font-family: Roboto;
  font-weight: 100;
}
