{% include css/bootstrap.min.css %}
{% include css/agency.css %}

.main-btn {
  border: 3px solid #{{ site.color.primary }};
  background: transparent;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  border: 1px solid transparent;
}

.navbar-default .navbar-nav>.active>a {
  border: 1px solid #{{ site.color.primary }};
  background: transparent;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  font-family: Montserrat;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active {
  border-color: #{{ site.color.secondary }};
  background: transparent;
  color: #fff;
}
